<h1 div="overskrift">VELKOMMEN TIL ADMIN SIDEN</h1>
    <p>her på denne side har du mulighed for at ændre, slette eller tilføje produkter til din hjemme side siden er delt op i 2 
    <br><strong>Tilføj</strong> her kan du tilføje produkter til din side ved at udfylde felterne 
    <br><strong>Rediger / Slet</strong> her kan du ændre i de produkter du allerede har på din side eller fjerne dem 
        hvis du ikke længere ønsker at have dem på siden <br>
    God fornøjelse med din admin side</p>