<div class="cykle-kategori">
        <h1>Cykler</h1>
        <hr>
        <ul class="cykle-kategorier">
            <li>
                <a href="/cykler/1">Mountainbikes
                    <br>
                    <img src="/img/mountainbikes.jpg">
                </a>
            </li>
            <li>
                <a href="/cykler/2">Racercykler
                    <br>
                    <img src="/img/racercykler.jpg">
                </a>
            </li>
            <li>
                <a href="/cykler/3">Damecykler
                    <br>
                    <img src="/img/damecykler.jpg">
                </a>
            </li>
            <li>
                <a href="/cykler/4">Herrecykler
                    <br>
                    <img src="/img/herrecykler.jpg">
                </a>
            </li>
            <li>
                <a href="/cykler/5">Trehjulede
                    <br>
                    <img src="/img/trehjulede.jpg">
                </a>
            </li>
            <li>
                <a href="/cykler/6">Børnecykler
                    <br>
                    <img src="/img/boernecykler.jpg">
                </a>
            </li>
        </ul>
    </div>
    <!-- cykel-kategori end -->