<div class="forside-indhold">
    <section>
        <article>
            <img src="img/forside.png">
            
            <% text.forEach( (ar) => { %>
        <div class="text-indhold">
            <%- `<p>${ar.text}</p>` %>
            <%- `<br>` %>
        </div>
            <% }); %>
        </article>
    </section>
</div>