<div id="navigation">
    <div id="baggrund">
        </a>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="/admin"></a>Forside</a></li>
            <li><a href="/admin_add">Tilføj Produkt</a></li>
            <li><a href="/udstyr_kategori">Udstyr</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/nyheder">Nyheder</a></li>
        </ul>
    </nav>
    </div>