<div id="navigation">
    <div id="baggrund">
        </a>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="/admin">Forside</a></li>
            <li><a href="/admin_add">Tilføj Produkt</a></li>
            <li><a href="/admin_edit">Rediger / Slet </a></li>
        </ul>
    </nav>
    </div>