<div class="udstyr-kategori">
        <h1>Cykler</h1>
        <hr>
        <ul class="udstyr-kategorier">
            <li>
                <a href="/udstyr/7">Cykelhjelme
                    <br>
                    <img src="/img/cykelhjelme.jpg">
                </a>
            </li>
            <li>
                <a href="/udstyr/8">Cykelcomputere
                    <br>
                    <img src="/img/cykelcomputere.jpg">
                </a>
            </li>
            <li>
                <a href="/udstyr/9">Værktøj
                    <br>
                    <img src="/img/vaerktoej.jpg">
                </a>
            </li>
            <li>
                <a href="/udstyr/10">Cykeltøj
                    <br>
                    <img src="/img/cykeltoej.jpg">
                </a>
            </li>
            <li>
                <a href="/udstyr/11">Barnestole
                    <br>
                    <img src="/img/Barnestole.jpg">
                </a>
            </li>
            <li>
                <a href="/udstyr/12">Reservedele
                    <br>
                    <img src="/img/reservedele.jpg">
                </a>
            </li>
        </ul>
    </div>
   