#baggrund {
    background: url("/public/img/baggrund.png");
    background-size: cover;
    /*width: 100%;*/
}

body {
    border-radius: 10%, 10%, 10%, 10%;
}

nav {
    width: 100%;
    margin-top: 0%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    background-color: #C9CACC;
    border-style: solid;
    border-color: #EDEDED;
    padding: 0%;
    
}

nav li {
    width: 75%;
    border-right: solid;
    text-align: center;
    border-color: #EDEDED;
    display: inline-block;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
}

nav li:hover {
    color: #FFFFFF;
    background-color: #767676;
}

nav li:active {
    background-color: #000000 ;
    color: #FFFFFF;
}

.produkter {
    list-style: none;
}

.cykle-kategori li, .udstyr-kategori li {
    padding: 0 0 0 8%;
    list-style: none;
    width: 25%;
    display: inline-block;
}

.cykle-kategori, .udstyr-kategori a {
    text-decoration: none;
    color: #000000;
}

hr {
    width: 100%;
    float: left;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF9E41;
}

.cykle-info {
    height: 300px;
    width: 500px;
    border: solid #EDEDED;
}

.cykle-info p {
    white-space: nowrap;
    max-width: 1448px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.cykle-info li {
    width: 100%;
}

.cykle-info img {
    height: 116px;
    width: 80px;
    float: right;
    display: flex;
   }