#wrapper {
    max-width: 75%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
}
#baggrund {
    background: url("/img/baggrund.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    visibility: visible;
}


nav {
    width: 100%;
    margin-top: 0%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    background-color: #C9CACC;
    border-style: solid;
    border-color: #EDEDED;
    padding: 0%;
    
}

nav a {
    display: block;
}

nav li {
    width: 75%;
    border-right: solid;
    text-align: center;
    border-color: #EDEDED;
    display: inline-block;
}

a, a:visited {
    text-decoration: none;
    color: #000000;

}

nav li:hover {
    color: #FFFFFF;
    background-color: #767676;
}

nav a:active {
    background-color: #000000 ;
    color: #FFFFFF;
    cursor: default;
}

nav a:target {
    background-color: #000000;
    color: #FFFFFF;
}

#produkter {
    list-style: none;
    width: 100%;
}

.cykle-kategori li, .udstyr-kategori li {
    padding: 0 0 0 8%;
    list-style: none;
    width: 25%;
    display: inline-block;
}

.cykle-kategori, .udstyr-kategori a {
    text-decoration: none;
    color: #000000;
}

hr {
    width: 100%;
    float: left;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF9E41;
}

a.læsMere {
    text-align: center;
    color: #FF9E41;
    display: flex;
}

#cykle-info, #udstyr-info {
    width: 100%;
    border: solid #EDEDED;
}

#cykle-info p, #udstyr-info p {
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
#cykle-info li, #udstyr-info li {
    width: 100%;
}

#cykle-info img, #udstyr-info img {
    /* max width og height sørger for at elemterne ikke kan have en større størrelse end dette*/
    max-height: 116px;
    max-width: 80px;
    float: right;
    display: flex;
   }

   .forside-indhold img {
       float: right;
       width: 25%;
   }

   footer {
       background-color: #C9CACC;
       color: #A4A4A4;
       text-align: center;
       position: fixed;
       max-width: 100%;
       min-width: 75%;
   }